---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/GithubrisTestUser/gists?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"c10e46d49fb6097c06c27cbf07188191"'
      x-ratelimit-remaining:
      - '4851'
    body:
      encoding: US-ASCII
      string: ! '[{"files":{"two.gist":{"type":"text/plain","raw_url":"https://gist.github.com/raw/2283797/20a66f262edb50ef7abaac0d248ec91b425b6928/two.gist","language":null,"size":49,"filename":"two.gist"}},"comments":0,"updated_at":"2012-04-02T14:23:23Z","public":true,"html_url":"https://gist.github.com/2283797","url":"https://api.github.com/gists/2283797","user":{"login":"GithubrisTestUser","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","id":1469392},"created_at":"2012-04-02T14:23:23Z","git_pull_url":"git://gist.github.com/2283797.git","description":"My
        second public gist","git_push_url":"git@gist.github.com:2283797.git","id":"2283797"},{"files":{"test.rb":{"type":"application/ruby","raw_url":"https://gist.github.com/raw/1901849/618cb237464a83cba15c5c16e913679a2703f3e0/test.rb","language":"Ruby","size":35,"filename":"test.rb"}},"comments":0,"updated_at":"2012-02-24T16:20:22Z","public":true,"html_url":"https://gist.github.com/1901849","url":"https://api.github.com/gists/1901849","user":{"login":"GithubrisTestUser","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","id":1469392},"created_at":"2012-02-24T16:20:22Z","git_pull_url":"git://gist.github.com/1901849.git","description":"This
        is a test gist","git_push_url":"git@gist.github.com:1901849.git","id":"1901849"},{"files":{"slipsum.html":{"type":"text/html","raw_url":"https://gist.github.com/raw/1901843/85d293b0fbc401adb58902fa24711e45e389fc3d/slipsum.html","language":"HTML","size":555,"filename":"slipsum.html"},"example.md":{"type":"text/plain","raw_url":"https://gist.github.com/raw/1901843/d9213baf064e7d4b9619143371172b49d97c29b8/example.md","language":"Markdown","size":27,"filename":"example.md"}},"comments":0,"updated_at":"2012-02-24T16:19:48Z","public":true,"html_url":"https://gist.github.com/1901843","url":"https://api.github.com/gists/1901843","user":{"login":"GithubrisTestUser","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","id":1469392},"created_at":"2012-02-24T16:19:48Z","git_pull_url":"git://gist.github.com/1901843.git","description":"This
        is a gist with many files","git_push_url":"git@gist.github.com:1901843.git","id":"1901843"}]'
  recorded_at: Mon, 02 Apr 2012 20:58:31 GMT
recorded_with: VCR 2.0.1
