---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"f2f72aa4990be6cca804fe39e0c36a4e"'
      x-ratelimit-remaining:
      - '4842'
    body:
      encoding: US-ASCII
      string: ! '{"files":{"gistfile1.txt":{"type":"text/plain","raw_url":"https://gist.github.com/raw/1/9b2ac7c792209f19e157ddaf00f8946edc306a6b/gistfile1.txt","language":"Text","size":178,"filename":"gistfile1.txt","content":"This
        is gist. \nThere are many like it, but this one is mine. \nIt is my life.
        \nI must master it as I must master my life. \nWithout me gist is useless.
        \nWithout gist, I am useless."}},"history":[{"url":"https://api.github.com/gists/1/3a641566d0a49014cea6f395e8be68c42b9e46d9","user":{"login":"schacon","url":"https://api.github.com/users/schacon","gravatar_id":"9375a9529679f1b42b567a640d775e7d","avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":70},"committed_at":"2011-02-22T02:58:22Z","version":"3a641566d0a49014cea6f395e8be68c42b9e46d9","change_status":{"deletions":1,"additions":6,"total":7}},{"url":"https://api.github.com/gists/1/24c894e1ca5cefd36b3b6e914beb93a7068f6efb","user":{"login":"schacon","url":"https://api.github.com/users/schacon","gravatar_id":"9375a9529679f1b42b567a640d775e7d","avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":70},"committed_at":"2011-02-22T02:53:32Z","version":"24c894e1ca5cefd36b3b6e914beb93a7068f6efb","change_status":{"deletion[...]
