---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/GithubrisTestUser/gists?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"bfaad0b1f2c1174f197c36e1c6eb2ac5"'
      x-ratelimit-remaining:
      - '4920'
    body:
      encoding: US-ASCII
      string: ! '[{"git_push_url":"git@gist.github.com:2380569.git","created_at":"2012-04-13T22:33:30Z","description":null,"public":true,"url":"https://api.github.com/gists/2380569","files":{"gistfile.txt":{"type":"text/plain","raw_url":"https://gist.github.com/raw/2380569/f6ea0495187600e7b2288c8ac19c5886383a4632/gistfile.txt","size":6,"filename":"gistfile.txt","language":"Text"}},"html_url":"https://gist.github.com/2380569","comments":0,"updated_at":"2012-04-13T22:33:30Z","git_pull_url":"git://gist.github.com/2380569.git","id":"2380569","user":{"avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/GithubrisTestUser","login":"GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","id":1469392}},{"git_push_url":"git@gist.github.com:2380564.git","created_at":"2012-04-13T22:31:18Z","description":null,"public":true,"url":"https://api.github.com/gists/2380564","files":{"gistfile.txt":{"type":"text/plain","raw_url":"https://gist.github.com/raw/2380564/f6ea0495187600e7b2288c8ac19c5886383a4632/gistfile.txt","size":6,"filename":"gistfile.txt","language":"Text"}},"html_url":"https://gist.github.com/2380564","comments":0,"updated_at":"2012-04-13T2[...]
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/gists/starred?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"72e8dc7f08258d72ed2770010d352a79"'
      x-ratelimit-remaining:
      - '4977'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-04-07T02:32:38Z","description":"No use of delegates","public":true,"url":"https://api.github.com/gists/2324597","files":{"no_delegate.rb":{"type":"application/ruby","size":208,"filename":"no_delegate.rb","raw_url":"https://gist.github.com/raw/2324597/5f6a891a29772999207c89479c78130c642e5819/no_delegate.rb","language":"Ruby"}},"html_url":"https://gist.github.com/2324597","comments":0,"updated_at":"2012-04-07T02:32:38Z","git_pull_url":"git://gist.github.com/2324597.git","id":"2324597","user":{"url":"https://api.github.com/users/mdobson","login":"mdobson","gravatar_id":"e042fe6b36628f262ad2d27e8f21addf","avatar_url":"https://secure.gravatar.com/avatar/e042fe6b36628f262ad2d27e8f21addf?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":934320},"git_push_url":"git@gist.github.com:2324597.git"},{"created_at":"2012-04-07T02:27:15Z","description":"Demo","public":true,"url":"https://api.github.com/gists/2324571","files":{"file2.js":{"type":"application/javascript","size":25,"filename":"file2.js","raw_url":"https://gist.github.com/raw/2324571/231a76789635186eaa4e0477a2abe0dd64659c19/file2.js","language":"JavaScript"},"demo.xml":{"type":"application/xml","size":46,"filename":"demo.xml","raw_url":"https://gist.github.com/raw/2324571/f408a3aafd94db568c723766be8f6edfecc60532/demo.xml","language":"XML"},"hello.html":{"type":"text/html","size":58,"filename":"hello.html","raw_url":"https://gist.github.com/raw/2324571/911e18eea53ca05057593dbba1b5b18022aa8b13/hello.html","language":"HTML"}},"html_url":"https://gist.github.com/2324571","comments":0,"updated_at":"2012-04-07T02:27:15Z","git_pull_url":"git://gist.github.com/2324571.git","id":"2324571","user":{"url":"https://api.github.com/users/justinspradlin","login":"justinspradlin","gravatar_id":"c4bccd1d6229139154c5571813e353a4","avatar_url":"https://secure.gravatar.com/avatar/c4bccd1d6229139154c5571813e353a4?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":636274},"git_push_url":"git@gist.github.com:2324571.git"}]'
  recorded_at: Fri, 13 Apr 2012 22:37:10 GMT
- request:
    method: get
    uri: https://api.github.com/users/GithubrisTestUser?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"199351b94bf106b2c2fa1a43e27c4b25"'
      x-ratelimit-remaining:
      - '4919'
    body:
      encoding: US-ASCII
      string: ! '{"followers":0,"type":"User","created_at":"2012-02-24T12:23:28Z","url":"https://api.github.com/users/GithubrisTestUser","following":0,"login":"GithubrisTestUser","html_url":"https://github.com/GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","public_repos":1,"avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":1469392,"public_gists":8}'
  recorded_at: Fri, 13 Apr 2012 22:37:10 GMT
- request:
    method: get
    uri: https://api.github.com/users/?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e66a7a6c91e2c26803f3f49feb7a883f"'
      x-ratelimit-remaining:
      - '4918'
    body:
      encoding: US-ASCII
      string: ! '{"message":"Not Found"}'
  recorded_at: Fri, 13 Apr 2012 22:37:11 GMT
- request:
    method: get
    uri: https://api.github.com/gists/starred?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 401 Unauthorized
      x-ratelimit-limit:
      - '5000'
      www-authenticate:
      - Basic realm="GitHub"
      etag:
      - ! '"99852aefab6a0988db8f62bf2fb96f49"'
      x-ratelimit-remaining:
      - '4999'
    body:
      encoding: US-ASCII
      string: ! '{"message":"Requires authentication"}'
  recorded_at: Sat, 14 Apr 2012 01:09:06 GMT
- request:
    method: get
    uri: https://api.github.com/user/emails?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 401 Unauthorized
      x-ratelimit-limit:
      - '5000'
      www-authenticate:
      - Basic realm="GitHub"
      etag:
      - ! '"99852aefab6a0988db8f62bf2fb96f49"'
      x-ratelimit-remaining:
      - '4998'
    body:
      encoding: US-ASCII
      string: ! '{"message":"Requires authentication"}'
  recorded_at: Fri, 27 Apr 2012 13:08:35 GMT
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/user?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"a1dcacb1dd5d042ae905b8e47bdccb28"'
      x-ratelimit-remaining:
      - '4996'
    body:
      encoding: US-ASCII
      string: ! '{"public_repos":1,"followers":0,"type":"User","blog":"","hireable":null,"bio":null,"avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","total_private_repos":0,"collaborators":0,"plan":{"space":307200,"private_repos":0,"collaborators":0,"name":"free"},"public_gists":12,"created_at":"2012-02-24T12:23:28Z","url":"https://api.github.com/users/GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","owned_private_repos":0,"private_gists":0,"following":0,"company":"Acme,
        Inc.","disk_usage":0,"html_url":"https://github.com/GithubrisTestUser","name":null,"location":null,"id":1469392,"email":null,"login":"GithubrisTestUser"}'
  recorded_at: Fri, 27 Apr 2012 13:08:35 GMT
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/gists/starred?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"3950b3c64aafc1858d86cc0930822d8d"'
      x-ratelimit-remaining:
      - '4995'
    body:
      encoding: US-ASCII
      string: ! '[{"public":true,"files":{"gistfile1.html":{"raw_url":"https://gist.github.com/raw/2393969/2c75dd2c62912efcec910b1499cc98a264c8f6a7/gistfile1.html","type":"text/html","language":"HTML","size":643,"filename":"gistfile1.html"}},"html_url":"https://gist.github.com/2393969","created_at":"2012-04-15T17:21:12Z","git_pull_url":"git://gist.github.com/2393969.git","user":{"avatar_url":"https://secure.gravatar.com/avatar/2ea0782f6b874677a9b96a2e81f9edf8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/mirzac","gravatar_id":"2ea0782f6b874677a9b96a2e81f9edf8","id":66056,"login":"mirzac"},"url":"https://api.github.com/gists/2393969","comments":0,"updated_at":"2012-04-15T17:21:12Z","git_push_url":"git@gist.github.com:2393969.git","id":"2393969","description":""},{"public":true,"files":{"ca1d.clj":{"raw_url":"https://gist.github.com/raw/2393948/d1ae49447b743e051c559c053a19961f07e19ae1/ca1d.clj","type":"text/plain","language":"Clojure","size":750,"filename":"ca1d.clj"}},"html_url":"https://gist.github.com/2393948","created_at":"2012-04-15T17:15:57Z","git_pull_url":"git://gist.github.com/2393948.git","user":{"avatar_url":"https://secure.gravatar.com/avatar/0e463e4432ba6d9b7ef02dbebe99c70d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/slightair","gravatar_id":"0e463e4432ba6d9b7ef02dbebe99c70d","id":490733,"login":"slightair"},"url":"https://api.github.com/gists/2393948","comments":0,"updated_at":"2012-04-15T17:15:57Z","git_push_url":"git@gist.github.com:2393948.git","id":"2393948","description":"one-dimensional
        cellular automaton"},{"public":true,"files":{"gistfile1.txt":{"raw_url":"https://gist.github.com/raw/2393892/1d11ebb0a89cf78014884521fb1f7eb1c181f328/gistfile1.txt","type":"text/plain","language":"Text","size":317,"filename":"gistfile1.txt"}},"html_url":"https://gist.github.com/2393892","created_at":"2012-04-15T17:06:58Z","git_pull_url":"git://gist.github.com/2393892.git","user":{"avatar_url":"https://secure.gravatar.com/avatar/a72591752a9f118f0dc2585f3b8e7511?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"ht[...]
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/user/emails?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e8801e729d16dda9a6e33813f704a6fe"'
      x-ratelimit-remaining:
      - '4994'
    body:
      encoding: US-ASCII
      string: ! '["isaac+githubris_test_user@isaacbfsanders.com"]'
  recorded_at: Fri, 27 Apr 2012 13:08:36 GMT
- request:
    method: get
    uri: https://api.github.com/users/tenderlove/following?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4999'
      etag:
      - ! '"b3fc8d5fe7344908fbbb4d9d38e1cb71"'
    body:
      encoding: US-ASCII
      stri[...]
- request:
    method: get
    uri: https://api.github.com/users/tenderlove/followers?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"84a1f97aebf213e95145658aabbd9b71"'
      link:
      - <https://api.github.com/users/tenderlove/followers?page=2>; rel="next", <https://api.github.com/users/tenderlove/followers?page=51>;
        rel="last"
      x-ratelimit-remaining:
      - '4998'
    body:
      encoding: US-ASCII
      string: ! '[{"url":"https://api.github.com/users/jbarnette","gravatar_id":"c237cf537a06b60921c97804679e3b15","avatar_url":"https://secure.gravatar.com/avatar/c237cf537a06b60921c97804679e3b15?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravat[...]
[...]
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/user/following/matz?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4984'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 28 Apr 2012 01:35:28 GMT
[...]
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/user/emails?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e8801e729d16dda9a6e33813f704a6fe"'
      x-ratelimit-remaining:
      - '4978'
    body:
      encoding: US-ASCII
      string: ! '["isaac+githubris_test_user@isaacbfsanders.com"]'
  recorded_at: Sat, 28 Apr 2012 01:35:36 GMT
recorded_with: VCR 2.1.0
