---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/GithubrisTestUser/gists?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"c337f23847e410034cb0c9f30d0da64a"'
      x-ratelimit-remaining:
      - '4912'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-04-13T22:37:15Z","description":null,"public":true,"git_pull_url":"git://gist.github.com/2380581.git","url":"https://api.github.com/gists/2380581","files":{"gistfile.txt":{"raw_url":"https://gist.github.com/raw/2380581/f6ea0495187600e7b2288c8ac19c5886383a4632/gistfile.txt","type":"text/plain","size":6,"filename":"gistfile.txt","language":"Text"}},"html_url":"https://gist.github.com/2380581","git_push_url":"git@gist.github.com:2380581.git","comments":0,"updated_at":"2012-04-13T22:37:15Z","id":"2380581","user":{"url":"https://api.github.com/users/GithubrisTestUser","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","id":1469392}},{"created_at":"2012-04-13T22:33:30Z","description":null,"public":true,"git_pull_url":"git://gist.github.com/2380569.git","url":"https://api.github.com/gists/2380569","files":{"gistfile.txt":{"raw_url":"https://gist.github.com/raw/2380569/f6ea0495187600e7b2288c8ac19c5886383a4632/gistfile.txt","type":"text/plain","size":6,"filename":"gistfile.txt","language":"Text"}},"html_url":"https://gist.github.com/2380569","git_push_url":"git@gist.github.com:2[...]
- request:
    method: get
    uri: https://api.github.com/gists/public?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"1c71f486adeee5fa96795b20e33e7ad8"'
      link:
      - <https://api.github.com/gists/public?page=2>; rel="next", <https://api.github.com/gists/public?page=22843>;
        rel="last"
      x-ratelimit-remaining:
      - '4911'
    body:
      encoding: US-ASCII
      string: ! '[{"git_push_url":"git@gist.github.com:2380581.git","created_at":"2012-04-13T22:37:15Z","description":null,"public":true,"url":"https://api.github.com/gists/2380581","files":{"gistfile.txt":{"type":"text/plain","raw_url":"https://gist.github.com/raw/2380581/f6ea0495187600e7b2288c8ac19c5886383a4632/gistfile.txt","size":6,"filename":"gistfile.txt","language":"Text"}},"html_url":"https://gist.github.com/2380581","comments":0,"updated_at":"2012-04-13T22:37:15Z","git_pull_url":"git://gist.github.com/2380581.git","id":"2380581","user":{"avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/GithubrisTestUser","login":"GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","id":1469392}},{"git_push_url":"git@gist.github.com:2380578.git","created_at":"2012-04-13T22:36:59Z","description":"All
        7-digit prime palindromes in the first 100.000 digits of PI","public":true,"url":"https://api.github.com/gists/2380578","files":{"email.rb":{"type":"application/ruby","raw_url":"https://gist.github.com/raw/2380578/410af34f1d1234ce6a8a626c5bb4a3a72048a672/email.rb","size":892,"filename":"email.rb","language":"Ruby"}},"html_url":"https://gist.github.com/2380578","comments":0,"updated_at":"2012-04-13T22:36:59Z","git_pull_url":"git://gist.github.com/2380578.git","id":"2380578","user":{"avatar_url":"https://secure.gravatar.com/avatar/435a35abe1426a8ab00c31ae1fa8aaa3?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/andersonvom","login":"andersonvom","gravatar_id":"435a35abe1426a8ab00c31ae1fa8aaa3","id":69922}},{"git_push_url":"git@gist.github.com:2380576.git","created_at":"2012-04-13T22:36:50Z","description":"Ors","public":true,"url":"https://api.github.com/gists/2380576","files":{"gistfile1.aw":{"type":"text/plain","raw_url":"https://gist.github.com/raw/2380576/00abb730223f376762a6240a93da04a7af05918e/gistfile1.aw","size":106,"filename":"gistfile1.aw","language":"PHP"}},"html_url":"https://gist.github.com/2380576","comments":0,"updated_at":"2012-04-13T22:36:50Z","git_pull_url":"git://gist.github.com/2380576.git","id":"2380576","user":{"avatar_url":"https://secure.gravatar.com/avatar/01e3f774775b20de7a4254626466a886?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/gabriel1836","login":"gabriel1836","gravatar_id":"01e3f774775b20de7a4254626466a886","id":393414}},{"git_push_url":"git@gist.github.com:2380573.git","created_at":"2012-04-13T22:35:34Z","description":"","public":true,"url":"https://api.github.com/gists/2380573","files":{"commands.js":{"type":"application/javascript","raw_url":"https://gist.github.com/raw/2380573/7d75b4d8d28faa78c8f5b91cc4db9f82a44df21e/commands.js","size":545,"filename":"commands.js","language":"JavaScript"}},"html_url":"https://gist.github.com/2380573","comments":0,"updated_at":"2012-04-13T22:35:34Z","git_pull_url":"git://gist.github.com/2380573.git","id":"2380573","user":{"avatar_url":"https://secure.gravatar.com/avatar/d5a959d7e57daa5433fcb9f8da40be4b?d=https://a248.e.akamai.net/assets.github.com%2Fimages[...]
[...]
- request:
    method: get
    uri: https://api.github.com/gists/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"5533a8fa85a8752ab5a2de09a4687d4d"'
      x-ratelimit-remaining:
      - '4909'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2008-07-15T18:17:13Z","description":"the meaning of
        gist","public":true,"git_pull_url":"git://gist.github.com/1.git","url":"https://api.github.com/gists/1","files":{"gistfile1.txt":{"type":"text/plain","raw_url":"https://gist.github.com/raw/1/9b2ac7c792209f19e157ddaf00f8946edc306a6b/gistfile1.txt","content":"This
        is gist. \nThere are many like it, but this one is mine. \nIt is my life.
        \nI must master it as I must master my life. \nWithout me gist is useless.
        \nWithout gist, I am useless.","size":178,"filename":"gistfile1.txt","language":"Text"}},"git_push_url":"git@gist.github.com:1.git","html_url":"https://gist.github.com/1","history":[{"committed_at":"2011-02-22T02:58:22Z","version":"3a641566d0a49014cea6f395e8be68c42b9e46d9","url":"https://api.github.com/gists/1/3a641566d0a49014cea6f395e8be68c42b9e46d9","change_status":{"total":7,"additions":6,"deletions":1},"user":{"url":"https://api.github.com/users/schacon","avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"schacon","gravatar_id":"9375a9529679f1b42b567a640d775e7d","id":70}},{"committed_at":"2011-02-22T02:53:32Z","version":"24c894e1ca5cefd36b3b6e914beb93a7068f6efb","url":"https://api.github.com/gists/1/24c894e1ca5cefd36b3b6e914beb93a7068f6efb","change_status":{"total":7[...]
