---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 401 Unauthorized
      x-ratelimit-limit:
      - '5000'
      www-authenticate:
      - Basic realm="GitHub"
      etag:
      - ! '"99852aefab6a0988db8f62bf2fb96f49"'
      x-ratelimit-remaining:
      - '4999'
    body:
      encoding: US-ASCII
      string: ! '{"message":"Requires authentication"}'
  recorded_at: Fri, 27 Apr 2012 02:44:29 GMT
- request:
    method: get
    uri: https://api.github.com/users/GithubrisTestUser?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"b3e172c508df31d4e20426d0faac6337"'
      x-ratelimit-remaining:
      - '4998'
    body:
      encoding: US-ASCII
      string: ! '{"public_gists":12,"type":"User","login":"GithubrisTestUser","html_url":"https://github.com/GithubrisTestUser","public_repos":1,"created_at":"2012-02-24T12:23:28Z","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","following":0,"followers":0,"avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":1469392,"url":"https://api.github.com/users/GithubrisTestUser"}'
  recorded_at: Fri, 27 Apr 2012 02:44:29 GMT
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/user?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"78a00bca0f52648b20df13d75559a970"'
      x-ratelimit-remaining:
      - '4999'
    body:
      encoding: US-ASCII
      string: ! '{"collaborators":0,"type":"User","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","plan":{"collaborators":0,"private_repos":0,"space":307200,"name":"free"},"following":0,"created_at":"2012-02-24T12:23:28Z","disk_usage":0,"public_gists":12,"private_gists":0,"public_repos":1,"followers":0,"url":"https://api.github.com/users/GithubrisTestUser","login":"GithubrisTestUser","total_private_repos":0,"owned_private_repos":0,"html_url":"https://github.com/GithubrisTestUser","id":1469392}'
  recorded_at: Fri, 27 Apr 2012 02:44:30 GMT
- request:
    method: patch
    uri: https://GithubrisTestUser:password@api.github.com/user?
    body:
      encoding: US-ASCII
      string: ! '{"name":null,"email":null,"blog":"","company":"Acme, Inc.","location":null,"hireable":null,"bio":null}'
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d57faef9b3aa9229d4587af33a2cf871"'
      x-ratelimit-remaining:
      - '4998'
    body:
      encoding: US-ASCII
      string: ! '{"owned_private_repos":0,"type":"User","login":"GithubrisTestUser","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","html_url":"https://github.com/GithubrisTestUser","plan":{"private_repos":0,"space":307200,"name":"free","collaborators":0},"created_at":"2012-02-24T12:23:28Z","public_repos":1,"blog":"","hireable":null,"gravatar_id":"20de3fd01e285d14de84067c34ab74d2","following":0,"company":"Acme,
        Inc.","disk_usage":0,"bio":null,"public_gists":12,"name":null,"location":null,"total_private_repos":0,"followers":0,"email":null,"id":1469392,"private_gists":0,"collaborators":0,"url":"https://api.github.com/users/GithubrisTestUser"}'
  recorded_at: Fri, 27 Apr 2012 02:50:04 GMT
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/users/GithubrisTestUser?
    body:
      encoding: US-ASCII
      string: ! '{"name":null,"email":null,"blog":"","company":"Acme, Inc.","location":null,"hireable":null,"bio":null}'
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"ea246598175d3babc0c337c64e932c8f"'
      x-ratelimit-remaining:
      - '4997'
    body:
      encoding: US-ASCII
      string: ! '{"public_gists":12,"type":"User","blog":"","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"GithubrisTestUser","html_url":"https://github.com/GithubrisTestUser","private_gists":0,"collaborators":0,"hireable":null,"plan":{"collaborators":0,"space":307200,"private_repos":0,"name":"free"},"created_at":"2012-02-24T12:23:28Z","public_repos":1,"bio":null,"gravatar_id":"20de3fd01e285d14de84067c34ab74d2","following":0,"company":"Acme,
        Inc.","total_private_repos":0,"disk_usage":0,"followers":0,"name":null,"location":null,"owned_private_repos":0,"email":null,"id":1469392,"url":"https://api.github.com/users/GithubrisTestUser"}'
  recorded_at: Fri, 27 Apr 2012 02:50:04 GMT
recorded_with: VCR 2.1.0
