---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e66a7a6c91e2c26803f3f49feb7a883f"'
      x-ratelimit-remaining:
      - '4917'
    body:
      encoding: US-ASCII
      string: ! '{"message":"Not Found"}'
  recorded_at: Fri, 13 Apr 2012 22:37:11 GMT
- request:
    method: get
    uri: https://api.github.com/gists/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"f726a315a0e0fe176e6b89510549983e"'
      x-ratelimit-remaining:
      - '4916'
    body:
      encoding: US-ASCII
      string: ! '{"git_push_url":"git@gist.github.com:1.git","created_at":"2008-07-15T18:17:13Z","description":"the
        meaning of gist","public":true,"url":"https://api.github.com/gists/1","files":{"gistfile1.txt":{"type":"text/plain","content":"This
        is gist. \nThere are many like it, but this one is mine. \nIt is my life.
        \nI must master it as I must master my life. \nWithout me gist is useless.
        \nWithout gist, I am useless.","raw_url":"https://gist.github.com/raw/1/9b2ac7c792209f19e157ddaf00f8946edc306a6b/gistfile1.txt","size":178,"filename":"gistfile1.txt","language":"Text"}},"html_url":"https://gist.github.com/1","history":[{"version":"3a641566d0a49014cea6f395e8be68c42b9e46d9","url":"https://api.github.com/gists/1/3a641566d0a49014cea6f395e8be68c42b9e46d9","change_status":{"total":7,"additions":6,"deletions":1},"committed_at":"2011-02-22T02:58:22Z","user":{"avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/schacon","login":"schacon","gravatar_id":"9375a9529679f1b42b567a640d775e7d","id":70}},{"version":"24c894e1ca5cefd36b3b6e914beb93a7068f6efb","url":"https://api.github.com/gists/1/24c894e1ca5cefd36b3b6e914beb93a7068f6efb","change_status":{"total":7,"additions":1,"deletions":6},"committed_at":"2011-02-22T02:53:32Z","user":{"avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/schacon","login":"schacon","gravatar_id":"9375a9529679[...]
- request:
    method: post
    uri: https://api.github.com/gists?
    body:
      encoding: UTF-8
      string: ! '{"description":null,"public":true,"files":{"gistfile.txt":{"content":"foobar"}}}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"c4722d8fee030e494d7fc040d87b43b0"'
      location:
      - https://api.github.com/gists/2380580
      x-ratelimit-remaining:
      - '4915'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-04-13T22:37:13Z","description":null,"public":true,"url":"https://api.github.com/gists/2380580","files":{"gistfile.txt":{"type":"text/plain","content":"foobar","size":6,"filename":"gistfile.txt","raw_url":"https://gist.github.com/raw/2380580/f6ea0495187600e7b2288c8ac19c5886383a4632/gistfile.txt","language":"Text"}},"html_url":"https://gist.github.com/2380580","history":[{"version":"ea4e94494e0a91351a68fa921b0275485052bfb6","url":"https://api.github.com/gists/2380580/ea4e94494e0a91351a68fa921b0275485052bfb6","change_status":{"total":1,"additions":1,"deletions":0},"committed_at":"2012-04-13T22:37:13Z","user":null}],"comments":0,"updated_at":"2012-04-13T22:37:13Z","git_pull_url":"git://gist.github.com/2380580.git","forks":[],"id":"2380580","user":null,"git_push_url":"git@gist.github.com:2380580.git"}'
  recorded_at: Fri, 13 Apr 2012 22:37:13 GMT
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/gists/?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e66a7a6c91e2c26803f3f49feb7a883f"'
      x-ratelimit-remaining:
      - '4976'
    body:
      encoding: US-ASCII
      string: ! '{"message":"Not Found"}'
  recorded_at: Fri, 13 Apr 2012 22:37:14 GMT
- request:
    method: post
    uri: https://GithubrisTestUser:password@api.github.com/gists?
    body:
      encoding: UTF-8
      string: ! '{"description":null,"public":true,"files":{"gistfile.txt":{"content":"foobar"}}}'
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-ratelimit-limit:
      - '5000'
   [...]
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/user?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"2168da237b272ff52594dec80c9e5bd3"'
      x-ratelimit-remaining:
      - '4974'
    body:
      encoding: US-ASCII
      string: ! '{"total_private_repos":0,"private_gists":0,"followers":0,"type":"User","created_at":"2012-02-24T12:23:28Z","owned_private_repos":0,"plan":{"space":307200,"private_repos":0,"name":"free","collaborators":0},"url":"https://api.github.com/users/GithubrisTestUser","public_repos":1,"following":0,"login":"GithubrisTestUser","html_url":"https://github.com/GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","collaborators":0,"public_gists":9,"avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":1469392,"disk_usage":0}'
  recorded_at: Fri, 13 Apr 2012 22:37:16 GMT
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/users/GithubrisTestUser/gists?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"7429abb074a06337a66f8f2b5e507cb7"'
      x-ra[...]
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/gists/1901843?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"cf3b2774870d560d445db83143fcdf36"'
      x-ratelimit-remaining:
      - '4972'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-02-24T16:19:48Z","description":"This is a gist
        with many files","public":true,"url":"https://api.github.com/gists/1901843","files":{"slipsum.html":{"type":"text/html","content":"<!--
        start slipsum code -->\n\n<h1>I can do that</h1>\n<p>Now that we know who
        you are, I know who I am. I''m not a mistake! It all makes sense! In a comic,
        you know how you can tell who the arch-villain''s going to be? He''s the exact
        opposite of the hero. And most times they''re friends, like you and me! I
        should''ve known way back when... You know why, David? Because of the kids.
        They called me Mr Glass. </p>\n\n<!-- please do not remove this line -->\n\n<div
        style=\"display:none;\">\n<a href=\"http://slipsum.com\">lorem ipsum</a></div>\n\n<!--
        end slipsum code -->","size":555,"filename":"slipsum.html","raw_url":"https://gist.github.com/raw/1901843/85d293b0fbc401adb58902fa24711e45e389fc3d/slipsum.html","language":"HTML"},"example.md":{"type":"text/plain","content":"#Big
        Header\n\nImportant text","size":27,"filename":"example.md","raw_url":"https://gist.github.com/raw/1901843/d9213baf064e7d4b9619143371172b49d97c29b8/example.md","language":"Markdown"}},"html_url":"https://gist.github.com/1901843","history":[{"version":"a770a657f91551fb29c200a5b29228fab999f9f9","url":"https://api.github.com/gists/1901843/a770a657f91551fb29c200a5b29228fab999f9f9","change_status":{"total":14,"additions":14,"deletions":0},"committed_at":"2012-02-24T16:19:48Z","user":{"url":"https://api.github.com/users/GithubrisTestUser","login":"GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":1469392}}],"comments":0,"updated_at":"2012-02-24T16:19:48Z","git_pull_url":"git://gist.github.com/1901843.git","forks":[],"id":"1901843","user":{"url":"https://api.github.com/users/GithubrisTestUser","login":"GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":1469392},"git_push_url":"git@gist.github.com:1901843.git"}'
  recorded_at: Fri, 13 Apr 2012 22:37:18 GMT
recorded_with: VCR 2.0.1
