---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e66a7a6c91e2c26803f3f49feb7a883f"'
      x-ratelimit-remaining:
      - '4999'
    body:
      encoding: US-ASCII
      string: ! '{"message":"Not Found"}'
  recorded_at: Sun, 15 Apr 2012 03:03:08 GMT
- request:
    method: get
    uri: https://api.github.com/gists/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"fb353614b8dc3a8dfed216bd3549aa91"'
      x-ratelimit-remaining:
      - '4998'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2008-07-15T18:17:13Z","description":"the meaning of
        gist","public":true,"url":"https://api.github.com/gists/1","files":{"gistfile1.txt":{"type":"text/plain","raw_url":"https://gist.github.com/raw/1/9b2ac7c792209f19e157ddaf00f8946edc306a6b/gistfile1.txt","content":"This
        is gist. \nThere are many like it, but this one is mine. \nIt is my life.
        \nI must master it as I must master my life. \nWithout me gist is useless.
        \nWithout gist, I am useless.","size":178,"filename":"gistfile1.txt","language":"Text"}},"html_url":"https://gist.github.com/1","history":[{"version":"3a641566d0a49014cea6f395e8be68c42b9e46d9","url":"https://api.github.com/gists/1/3a641566d0a49014cea6f395e8be68c42b9e46d9","change_status":{"total":7,"additions":6,"deletions":1},"committed_at":"2011-02-22T02:58:22Z","user":{"url":"https://api.github.com/users/schacon","avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"schacon","gravatar_id":"9375a9529679f1b42b567a640d775e7d","id":70}},{"version":"24c894e1ca5cefd36b3b6e914beb93a7068f6efb","url":"https://api.github.com/gists/1/24c894e1ca5cefd36b3b6e914beb93a7068f6efb","change_status":{"total":7,"additions":1,"deletions":6},"committed_at":"2011-02-22T02:53:32Z","user":{"url":"https://api.github.com/users/schacon","avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"schacon","gravatar_id":"9375a9529679[...]
- request:
    method: post
    uri: https://api.github.com/gists?
    body:
      encoding: UTF-8
      string: ! '{"description":null,"public":true,"files":{"gistfile.txt":{"content":"foobar"}}}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"b8141cf8c57601c96ebfd4840b9434d7"'
      location:
      - https://api.github.com/gists/2389641
      x-ratelimit-remaining:
      - '4997'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-04-15T03:03:19Z","description":null,"public":true,"url":"https://api.github.com/gists/2389641","files":{"gistfile.txt":{"type":"text/plain","content":"foobar","size":6,"filename":"gistfile.txt","raw_url":"https://gist.github.com/raw/2389641/f6ea0495187600e7b2288c8ac19c5886383a4632/gistfile.txt","language":"Text"}},"html_url":"https://gist.github.com/2389641","history":[{"version":"9f85d0231d3cec592f0c327a9e4fd3becaa0c0a4","url":"https://api.github.com/gists/2389641/9f85d0231d3cec592f0c327a9e4fd3becaa0c0a4","change_status":{"total":1,"additions":1,"deletions":0},"committed_at":"2012-04-15T03:03:19Z","user":null}],"comments":0,"updated_at":"2012-04-15T03:03:19Z","git_pull_url":"git://gist.github.com/2389641.git","forks":[],"id":"2389641","user":null,"git_push_url":"git@gist.github.com:2389641.git"}'
  recorded_at: Sun, 15 Apr 2012 03:03:19 GMT
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/user?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"b151142e0e59ada914c6b9dccda17644"'
      x-ratelimit-remaining:
      - '4999'
    body:
      encoding: US-ASCII
      string: ! '{"public_repos":1,"followers":0,"type":"User","created_at":"2012-02-24T12:23:28Z","plan":{"private_repos":0,"space":307200,"collaborators":0,"name":"free"},"url":"https://api.github.com/users/GithubrisTestUser","following":0,"login":"GithubrisTestUser","collaborators":0,"public_gists":9,"html_url":"https://github.com/GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","total_private_repos":0,"private_gists":0,"owned_private_repos":0,"id":1469392,"disk_usage":0}'
  recorded_at: Sun, 15 Apr 2012 03:03:19 GMT
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/gists/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"5533a8fa85a8752ab5a2de09a4687d4d"'
      x-ratelimit-remaining:
   [...]
- request:
    method: put
    uri: https://GithubrisTestUser:password@api.github.com/gists/1/star?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 204
      message: No Content
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"d41d8cd98f00b204e9800998ecf8427e"'
      x-ratelimit-remaining:
      - '4997'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 15 Apr 2012 03:03:21 GMT
[...]
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/gists/starred?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"f90407bd927a4e2c1ec59d7e08b0fe4f"'
      x-ratelimit-remaining:
      - '4994'
    body:
      encoding: US-ASCII
      string: ! '[{"html_url":"https://gist.github.com/2324597","git_pull_url":"git://gist.github.com/2324597.git","created_at":"2012-04-07T02:32:38Z","git_push_url":"git@gist.github.com:2324597.git","description":"No
        use of delegates","public":true,"url":"https://api.github.com/gists/2324597","files":{"no_delegate.rb":{"raw_url":"https://gist.github.com/raw/2324597/5f6a891a29772999207c89479c78130c642e5819/no_delegate.rb","type":"application/ruby","size":208,"filename":"no_delegate.rb","language":"Ruby"}},"comments":0,"updated_at":"2012-04-07T02:32:38Z","id":"2324597","user":{"url":"https://api.github.com/users/mdobson","avatar_url":"https://secure.gravatar.com/avatar/e042fe6b36628f262ad2d27e8f21addf?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"mdobson","gravatar_id":"e042fe6b36628f262ad2d27e8f21addf","id":934320}},{"html_url":"https://gist.github.com/2324571","git_pull_url":"git://gist.github.com/2324571.git","created_at":"2012-04-07T02:27:15Z","git_push_url":"git@gist.github.com:2324571.git","description":"Demo","public":true,"url":"https://api.github.com/gists/2324571","files":{"file2.js":{"raw_url":"https://gist.github.com/raw/2324571/231a76789635186eaa4e0477a2abe0dd64659c19/file2.js","type":"application/javascript","size":25,"filename":"file2.js","language":"JavaScript"},"demo.xml":{"raw_url":"https://gist.github.com/raw/2324571/f408a3aafd94db568c723766be8f6edfecc60532/demo.xml","type":"application/xml","size":46,"filename":"demo.xml","language":"XML"},"hello.html":{"raw_url":"https://gist.github.com/raw/2324571/911e18eea53ca05057593dbba1b5b18022aa8b13/hello.html","type":"text/html","size":58,"filename":"hello.html","language":"HTML"}},"comments":0,"updated_at":"2012-04-07T02:27:15Z","id":"2324571","user":{"url":"https://api.github.com/users/justinspradlin","avatar_url":"https://secure.gravatar.com/avatar/c4bccd1d6229139154c5571813e353a4?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"justinspradlin","gravatar_id":"c4bccd1d6229139154c5571813e353a4","id":636274}},{"html_url":"https://gist.github.com/1","git_pull_url":"git://gist.github.com/1.git","created_at":"2008-07-15T18:17:13Z","git_push_url":"git@gist.github.com:1.git","description":"the
        meaning of gist","public":true,"url":"https://api.github.com/gists/1","files":{"gistfile1.txt":{"raw_url":"https://gist.github.com/raw/1/9b2ac7c792209f19e157ddaf00f8946edc306a6b/gistfile1.txt","type":"text/plain","size":178,"filename":"gistfile1.txt","language":"Text"}},"comments":6,"updated_at":"2011-02-22T02:58:22Z","id":"1","user":{"url":"https://api.github.com/users/schacon","avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"schacon","gravatar_id":"9375a9529679f1b42b567a640d775e7d","id":70}}]'
  recorded_at: Sun, 15 Apr 2012 03:03:36 GMT
[...]
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/gists/?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e66a7a6c91e2c26803f3f49feb7a883f"'
      x-ratelimit-remaining:
      - '4991'
    body:
      encoding: US-ASCII
      string: ! '{"message":"Not Found"}'
  recorded_at: Sun, 15 Apr 2012 03:03:37 GMT
- request:
    method: post
    uri: https://GithubrisTestUser:password@api.github.com/gists?
    body:
      encoding: UTF-8
      string: ! '{"description":null,"public":true,"files":{"gistfile.txt":{"content":"foobar"}}}'
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-ratelimit-limit:
      - '5000'
   [...]
- request:
    method: get
    uri: https://api.github.com/https://api.github.com/gists/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"e66a7a6c91e2c26803f3f49feb7a883f"'
      x-ratelimit-remaining:
      - '4999'
    body:
      encoding: US-ASCII
      string: ! '{"message":"Not Found"}'
  recorded_at: Mon, 16 Apr 2012 01:39:10 GMT
- request:
    method: get
    uri: https://api.github.com/gists/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"3ce23f3abb84dbc300a118f2fde058f5"'
      x-ratelimit-remaining:
      - '4998'
    body:
      encoding: US-ASCII
      string: ! '{"created_at"[...]
[...]
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/users/GithubrisTestUser/gists?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"28cce2b51785d96418f567782a7341c7"'
      x-ra[...]
- request:
    method: get
    uri: https://GithubrisTestUser:password@api.github.com/gists/1901843?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic BasicAuthCrap
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"ddd6f3f154c8b260bf4ee1918ec0318c"'
      x-ratelimit-remaining:
      - '4998'
    body:
      encoding: US-ASCII
      string: ! '{"files":{"slipsum.html":{"type":"text/html","raw_url":"https://gist.github.com/raw/1901843/85d293b0fbc401adb58902fa24711e45e389fc3d/slipsum.html","language":"HTML","size":555,"filename":"slipsum.html","content":"<!--
        start slipsum code -->\n\n<h1>I can do that</h1>\n<p>Now that we know who
        you are, I know who I am. I''m not a mistake! It all makes sense! In a comic,
        you know how you can tell who the arch-villain''s going to be? He''s the exact
        opposite of the hero. And most times they''re friends, like you and me! I
        should''ve known way back when... You know why, David? Because of the kids.
        They called me Mr Glass. </p>\n\n<!-- please do not remove this line -->\n\n<div
        style=\"display:none;\">\n<a href=\"http://slipsum.com\">lorem ipsum</a></div>\n\n<!--
        end slipsum code -->"},"example.md":{"type":"text/plain","raw_url":"https://gist.github.com/raw/1901843/d9213baf064e7d4b9619143371172b49d97c29b8/example.md","language":"Markdown","size":27,"filename":"example.md","content":"#Big
        Header\n\nImportant text"}},"git_pull_url":"git://gist.github.com/1901843.git","history":[{"user":{"login":"GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github[...]
[...]
