---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/public?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"30119bc8e528adbe4b627be0046d2558"'
      link:
      - <https://api.github.com/gists/public?page=2>; rel="next", <https://api.github.com/gists/public?page=22880>;
        rel="last"
      x-ratelimit-remaining:
      - '4854'
    body:
      encoding: US-ASCII
      string: ! '[{"files":{"turntableExperiment.js":{"type":"application/javascript","raw_url":"https://gist.github.com/raw/2287149/9daa7e0d3bf2410629e71c85e20a174cca4041fa/turntableExperiment.js","language":"JavaScript","size":982,"filename":"turntableExperiment.js"}},"comments":0,"updated_at":"2012-04-02T20:56:26Z","public":true,"html_url":"https://gist.github.com/2287149","url":"https://api.github.com/gists/2287149","user":{"login":"holtbp","avatar_url":"https://secure.gravatar.com/avatar/a99122ed8dee44d9cc10c9fac9306cb5?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/holtbp","gravatar_id":"a99122ed8dee44d9cc10c9fac9306cb5","id":1081874},"created_at":"2012-04-02T20:56:26Z","git_pull_url":"git://gist.github.com/2287149.git","description":"Turntable
        (In Progress) - Attempt to make a closure without using the TTFM API","git_push_url":"git@gist.github.com:2287149.git","id":"2287149"},{"files":{"treemap-svg.js":{"type":"application/javascript","raw_url":"https://gist.github.com/raw/2287148/41cd9412aeadffe822490348631d50aa3e3abf20/treemap-svg.js","language":"JavaScript","size":2592,"filename":"treemap-svg.js"},"tipsy.css":{"type":"text/css","raw_url":"https://gist.github.com/raw/2287148/6f6f2334f6c0559b7d2889b0c0942918bcc8fe8c/tipsy.css","language":"CSS","size":2159,"filename":"tipsy.css"},"jquery.tipsy.js":{"type":"application/javascript","raw_url":"https://gist.github.com/raw/2287148/21af265af69d2edf1ac7607fabd89d18a0cd5f7b/jquery.tipsy.js","language":"JavaScript","size":11879,"filename":"jquery.tipsy.js"},"index.html":{"type":"text/html","raw_url":"https://gist.github.com/raw/2287148/df86caae340a59d52539dba202fb6c3f62f2b116/index.html","language":"HTML","size":919,"filename":"index.html"},"flare.json":{"type":"application/json","raw_url":"https://gist.github.com/raw/2287148/23d649d8cb87c3660658c87fd0a047b3e87eb28d/flare.json","language":"JSON","size":1453,"filename":"flare.json"}},"comments":0,"updated_at":"2012-04-02T20:56:22Z","public":true,"html_url":"https://gist.github.com/2287148","url":"https://api.github.com/gists/2287148","user":{"login":"mpa3d","avatar_url":"https://secure.gravatar.com/avatar/746eba4eed0fc75dd6f4caf9940a98aa?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/mpa3d","gravatar_id":"746eba4eed0fc75dd6f4caf9940a98aa","id":1606098},"created_at":"2012-04-02T20:56:22Z","git_pull_url":"git://gist.github.com/2287148.git","description":"","git_push_url":"git@gist.github.com:2287148.git","id":"2287148"},{"files":{"gistfile1.txt":{"type":"text/plain","raw_url":"https://gist.github.com/raw/2287146/7a42e99bd69b20541c500f6997058e9826aef022/gistfile1.txt","language":"Text","size":1156,"filename":"gistfile1.txt"}},"comments":0,"updated_at":"2012-04-02T20:56:02Z","public":true,"html_url":"https://gist.github.com/2287146","url":"https://api.github.com/gists/2287146","user":{"login":"duncanmak","avatar_url":"https://secure.gravatar.com/avatar/9050fc23af1c364af98caca1d1dc1bf9?d=https://a248.e.akamai.net/assets.github.com%2Fimages[...]
