---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/GithubrisTestUser?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"7c7ce142d4d21c0c4e75d313f47b0e34"'
      x-ratelimit-remaining:
      - '4913'
    body:
      encoding: US-ASCII
      string: ! '{"followers":0,"type":"User","created_at":"2012-02-24T12:23:28Z","public_gists":9,"public_repos":1,"url":"https://api.github.com/users/GithubrisTestUser","following":0,"avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"GithubrisTestUser","html_url":"https://github.com/GithubrisTestUser","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","id":1469392}'
  recorded_at: Fri, 13 Apr 2012 22:37:19 GMT
recorded_with: VCR 2.0.1
