---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/GithubrisTestUser?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"12d1aa7884545ccd22da2d7adb31e9a9"'
      x-ratelimit-remaining:
      - '4998'
    body:
      encoding: US-ASCII
      string: ! '{"following":0,"type":"User","login":"GithubrisTestUser","public_repos":1,"public_gists":3,"html_url":"https://github.com/GithubrisTestUser","avatar_url":"https://secure.gravatar.com/avatar/20de3fd01e285d14de84067c34ab74d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","url":"https://api.github.com/users/GithubrisTestUser","created_at":"2012-02-24T12:23:28Z","gravatar_id":"20de3fd01e285d14de84067c34ab74d2","id":1469392,"followers":0}'
  recorded_at: Fri, 06 Apr 2012 03:34:27 GMT
recorded_with: VCR 2.0.1
