---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: ! '{"description":null,"public":true,"files":{"gistfile.txt":{"content":"foobar"}}}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"4dfca32ee6e5f6ad6819731e23a6335a"'
      location:
      - https://api.github.com/gists/2340298
      x-ratelimit-remaining:
      - '4999'
    body:
      encoding: US-ASCII
      string: ! '{"files":{"gistfile.txt":{"type":"text/plain","raw_url":"https://gist.github.com/raw/2340298/f6ea0495187600e7b2288c8ac19c5886383a4632/gistfile.txt","language":"Text","size":6,"filename":"gistfile.txt","content":"foobar"}},"git_push_url":"git@gist.github.com:2340298.git","history":[{"url":"https://api.github.com/gists/2340298/e01e64d7545b2451ec00191ac15bfbbd8232191d","user":null,"committed_at":"2012-04-08T23:12:17Z","version":"e01e64d7545b2451ec00191ac15bfbbd8232191d","change_status":{"deletions":0,"additions":1,"total":1}}],"comments":0,"updated_at":"2012-04-08T23:12:16Z","public":true,"url":"https://api.github.com/gists/2340298","forks":[],"user":null,"html_url":"https://gist.github.com/2340298","created_at":"2012-04-08T23:12:16Z","description":null,"git_pull_url":"git://gist.github.com/2340298.git","id":"2340298"}'
  recorded_at: Sun, 08 Apr 2012 23:12:17 GMT
recorded_with: VCR 2.0.1
