---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"ad3edc4c7c780c9729c0e99f57750eda"'
      x-ratelimit-remaining:
      - '4994'
    body:
      encoding: US-ASCII
      string: ! '{"history":[{"version":"3a641566d0a49014cea6f395e8be68c42b9e46d9","user":{"url":"https://api.github.com/users/schacon","avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"schacon","gravatar_id":"9375a9529679f1b42b567a640d775e7d","id":70},"change_status":{"total":7,"additions":6,"deletions":1},"url":"https://api.github.com/gists/1/3a641566d0a49014cea6f395e8be68c42b9e46d9","committed_at":"2011-02-22T02:58:22Z"},{"version":"24c894e1ca5cefd36b3b6e914beb93a7068f6efb","user":{"url":"https://api.github.com/users/schacon","avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","login":"schacon","gravatar_id":"9375a9529679f1b42b567a640d775e7d","id":70},"change_status":{"total":7,"additions":1,"deletions":6},"url":"https://api.github.com/gists/1/24c894e1ca5cefd36b3b6e914beb93[...]
