---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"29c4e5ac647a959a7d9cbc3c6bdd3874"'
      x-ratelimit-remaining:
      - '4999'
    body:
      encoding: US-ASCII
      string: ! '{"history":[{"change_status":{"deletions":1,"total":7,"additions":6},"committed_at":"2011-02-22T02:58:22Z","user":{"gravatar_id":"9375a9529679f1b42b567a640d775e7d","url":"https://api.github.com/users/schacon","avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":70,"login":"schacon"},"url":"https://api.github.com/gists/1/3a641566d0a49014cea6f395e8be68c42b9e46d9","version":"3a641566d0a49014cea6f395e8be68c42b9e46d9"},{"change_status":{"deletions":6,"total":7,"additions":1},"committed_at":"2011-02-22T02:53:32Z","user":{"gravatar_id":"9375a9529679f1b42b567a640d775e7d","url":"https://api.github.com/users/schacon","avatar_url":"https://secure.gravatar.com/avatar/9375a9529679f1b42b567a640d775e7d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png","id":70,"login":"schacon"},"url":"https://api.github.com/gists/1/24c894e1ca5cefd36b3b6e914[...]
